<div class="row">
<h3>Login</h3>
    <div class="col-sm-6 col-md-4">
    <form>
       <div class="form-group">
    <label for="categoryname">user Name</label>
    <input type="email" class="form-control" id="categoryname" ng-model="user.name" placeholder="user email">
  </div>
  <div class="form-group">
    <label for="cetegorydesc">Description</label>
    <input type="password" class="form-control" id="cetegorydesc" ng-model="user.password" placeholder="Description">
  </div>
  <button  class="btn btn-default" ng-click="userlogin();">save</button>
</form> 
    
    </div>
</div>